<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
  </configSections>

  <MsmqTransportConfig NumberOfWorkerThreads="4" MaxRetries="5" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  <SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:10" NumberOfRetries="5" />
  <UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      <add Messages="Tests" Endpoint="Test" />
    </MessageEndpointMappings>
  </UnicastBusConfig>

</configuration>